#video-grid {
	display: flex;
	justify-content: center;
}

video {
	height: 300px;
	width: 400px;
}

.main {
	height: 100vh;
	display: flex;
	flex-grow: 1;
}

.main__right {
	flex: 0.2;
	display: flex;
	flex-direction: bottom;
}

.main__left {
	flex: 0.8;
}

.main__controls {
	flex-grow: 1;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}